<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>

<h2> Your Reviews </h2>
<ul>
<% @reviews.each do |review| %>
  <li><%= review.content %></li>
<% end %>
</ul>

