<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>she says</title>

  <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
  <ul class="pages">
    <li class="chat page">
      <div class="container">
        <h1><strong>she</strong>says</h1>
        <h3>See what she's saying @<span id="selected-company"> </span></h3>
      </div>
    </li>
    <li class="login page">

      <div class="container">
        <div class="header">
          <h1><strong>she</strong>says
          <div class="pull-right">
            <ul class="inline-links">
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
            </ul>
          </div>
          </h1>
            <h3 class="subtitle"> 
              An anonymous review platform for women in tech.
            </h3>
        </div>
          
        <div class="form">
          <div class="title">What did <strong>she</strong>say</div>
          <div class="title">@<span id="company" contenteditable="true">company</span></div>
        </div>
      </div>  
    </li>
  </ul>

  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="javascripts/main.js"></script>
</body>
</html>