// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#company-input {
  outline: 0;
  display: inline-block;
  border: 0;
  background-color: transparent;
  font-size: inherit;
  color: white;
  input {
    background-color: transparent;
    outline: 0;
    border: 0;
  }
}